.woof-section{
  margin-top: 5em;
  .woof-container{
    width: 50%;
    margin: 0 auto;
    .woof__user{
      font-size: 1.6em;
      margin-right: .3em;
    }
    .woof__date{
      opacity: .5;
    }
    .woof__content{
      line-height: 1.45em;
      word-wrap: anywhere;
    }
    .woof__profile-pic{
      width: 60px;
      height: 60px;
      display: inline-block;
      img{
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 760px) {
  .woof-section{
    margin-top: 30px;
    margin-bottom: 60px;
    .woof-container{
      width: 100%;
      padding: 1em;
    }
    .woof__date{
      font-size: .8em;
    }
  }
}