.comments-container {
	position: absolute;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	width: 40%;
	height: 80%;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, .5);
	form {
		display: flex;
		justify-content: center;
		margin: .5em 0 1em;
	}
}