@import "../../../../_colors.scss";
.text-box{
  text-align: center;
  .text-box__arrow-up{
    margin: 0 auto;
    transform: translateY(2px);
    width: 0;
    height: 0;
    border-top: 0px;
    border-left: .8em solid transparent;
    border-right: .8em solid transparent;
    border-bottom: .8em solid #fff;
  }
  .text-box__textarea{
    resize: none;
    width: 20vw;
    height: 50vh;
    padding: 1em;
  }
  .text-box__btn{
    transform: translateY(-50%);
    background: $yellow;
    color: #fff;
    padding: .8em 2em;
    border: none;
    border-radius: 2em;
    cursor: pointer;
    transition:background-color .2s ease-out;
    &:hover{
      background-color: $green;
    }
  }
}
