@import "../../../../_colors.scss";
.text-box-container{
  text-align: center;
  .text-box{
    background-color: var(--secondary-color);
    padding: .7em .7em 0em .7em;
    border-radius: 1.5em;
  }
  .text-box__textarea{
    resize: none;
    width: 20vw;
    height: 50vh;
    padding: .5em;
    border: none;
    border-radius: 1em;
    font-size: 1.2em;
  }
  .text-box__btn{
    background: $yellow;
    color: #fff;
    padding: .8em 2em;
    border: 2px solid var(--tertiary-color);
    border-radius: 2em;
    cursor: pointer;
    transition:background-color .2s ease-out;
    &:hover{
      background-color: #fff;
      color: var(--tertiary-color);
    }
  }
  .text-box__btn,.text-box__length{
    transform: translateY(-50%);
  }
  .text-box__length{
    margin-top: -.4em; 
  }
}
